menu "Touchscreen"
	depends on INPUT_TOUCHSCREEN

source "techpack/xiaomi-sdm845/touchscreen/focaltech_touch_mi/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/ft5x46/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/fts_521/Kconfig"

endmenu
